.reg-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top:auto;
    background:white;
    padding-bottom:30px;
}

.reg-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width: 100%;
    margin-top: 30px;
}

.reg-text{
    color:#296dd0 ;
    font-size: 48px;
    font-weight: 700;
}

.reg-underline{
    width:61px;
    height: 6px;
    background: #296dd0;
    border-radius: 9px;
}

.reg-inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.reg-input{
    display: flex;
    align-items: center;
    margin:auto;
    width:420px;
    height: 60px;
    background:white;
    border-radius: 6px;

}

.reg-input img{
margin: 0px 30px;
height: 35px;
width: 35px;

}

.reg-input input{
    height: 40px;
    width: 380px;
    background: transparent;
    border:none;
    outline:none;
    color:#797979;
    font-size:20px;
}

.reg-submit-container{
    display: flex;
    gap:25px;
    justify-content: center;
    align-items: center;
    margin: 60px auto;

}

.reg-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    color: #fff;
    background-color: #296dd0;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: white;
    color:#676767;
}

.otp-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}

.otp-container{
    width: 380px;
    height: auto;
    padding:40px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.otp-container h4{
font-size: 40px;
color:black;
font-family: sans-serif;
}

.otp-container form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .otp-input-fields{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.otp-input-fields input{
    max-width: 20%;
    height: 60px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 5px;
    border: none;
    background:rgb(207, 207, 207);
    font-size:25px;
}

.otp-input-fields::-webkit-inner-spin-button,
.otp-input-fields::-webkit-outer-spin-button{
    display: none;
}

.otp-input-fields input:focus{
    outline: 3px solid #296dd0;
    outline-offset:2px;
    
}

form button{
    margin-top: 25px;
    width:92%;
    background:#296dd0;
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

form button.active{
    background: #296dd0;
    pointer-events: auto;
    color:black;
    cursor: pointer;
}

form button:hover{
    background:#123a76;
    cursor: pointer;
    
}