.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.RecommendedCourses{
  diplay : block;
  text-align: center;
  margin: 2vh 5vw ;
}

.RecommendedCourses .table{
  display: block;
  border: solid black;
  border-radius: 10px;
}

.RecommendedCourses .table ul{
  list-style: none;
}

.RecommendedCourses .table .heading{
  font-weight: bold;
  display:flex;
  justify-content:space-between;
  /* background-color: #b5b6b9; */
}

.RecommendedCourses .table .courses{
  display: block;
  border-top:grey groove 1px;
}

.RecommendedCourses .table .courses ul{
  display: flex;
  justify-content: space-between;
}

.RecommendedCourses .table li{
  margin: 1vh 1vw  ;
}



